<h2 class="center">Search and add a TV show to my watch list</h2>
<app-search (searchedItem)="searchTvShow($event)"></app-search>

<p-inputSwitch [(ngModel)]="online"></p-inputSwitch>
<span *ngIf="online" >You are searching online</span>
<span *ngIf="!online">You are searching in the private collection</span>

<h3 class="center">My tv show collection</h3>
<app-list [myItemList]="tvShows" (selected)="addToWatchListAndGoToDetail($event)"></app-list>

