<div class="choose-quantity">
  <button pButton pRipple icon="pi pi-minus" type="button" class="p-button-rounded" (click)="onRemove()"></button>
  <div class="quantity">{{quantity}}</div>
  <button pButton pRipple icon="pi pi-plus" type="button" class="p-button-rounded" (click)="onAdd()"></button>
</div>
