<form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
  <p>User Name</p>
  <input ngModel name="userName">
  <p>Password</p>
  <input type="password" ngModel name="password">
  <input type="submit" value="Login">
</form>
