<h1>My TvShow watchlist</h1>
<app-search (searchedItem)="search($event)"></app-search>

<p-inputSwitch [(ngModel)]="online" (onChange)="search(searchedTitle)"></p-inputSwitch>
<span *ngIf="online" >You are searching online</span>
<span *ngIf="!online">You are searching in the private collection</span>

<app-list [myItemList]="tvShows" (selected)="gotoDetail($event)"></app-list>
