<h1>Welcome</h1>
<app-search (searchedItem)="search($event)"></app-search>

<p-inputSwitch (onChange)="online$.next($event.checked)"></p-inputSwitch>
<span *ngIf="online">You are searching online</span>
<span *ngIf="!online">You are searching in the private collection</span>


<app-list [myItemList]="foundMovies" (selected)="showDetail($event)"></app-list>
