<div class="p-card" style="margin-top: 15px">
  <form [formGroup]="newTvShowForm" (ngSubmit)="addNewTvShow()">

    <div class="p-grid">
      <div class="p-col-6">
        <p>Title</p>
        <input pInputText formControlName="title" [customErrors]="customErrors">
        <div class="p-field-radiobutton" style="padding-top: 10px">
          <p-radioButton value="radio" label="Is radio channel" formControlName="toggleTvShowRadioRb"
                         (onClick)="toggleTvShow(false)"></p-radioButton>
          <p-radioButton value="tvshow" label="Is tv-show" formControlName="toggleTvShowRadioRb"
                         (onClick)="toggleTvShow(true)" style="padding-left: 10px"></p-radioButton>

        </div>

        <ng-container formArrayName="tvshow">
          <div *ngFor="let controlObject of tvShowControls.controls; index as i">
            <ng-container [formGroupName]="i">
              <div class="p-grid">
                <div class="p-col-6" *ngFor="let control of controlObject.value | keyvalue">
                  <p>{{control.key}}</p>
                  <app-numeric-control formControlName="{{control.key}}"></app-numeric-control>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <!--          <div class="p-col-6">-->
        <!--            <p>Seasons</p>-->
        <!--            <app-numeric-control formControlName="seasons"></app-numeric-control>-->
        <!--          </div>-->
        <!--          <div class="p-col-6">-->
        <!--            <p>Episodes</p>-->
        <!--            <app-numeric-control formControlName="episodes"></app-numeric-control>-->
        <!--          </div>-->
        <!--          <div class="p-col-6">-->
        <!--            <p>Year</p>-->
        <!--            <app-numeric-control formControlName="year"></app-numeric-control>-->
        <!--          </div>-->
        <!--          <div class="p-col-6">-->
        <!--            <p>Runtime</p>-->
        <!--            <app-numeric-control [increment]="10" formControlName="runtime"></app-numeric-control>-->
        <!--          </div>-->
      </div>
      <div class="p-col-6">
        <p>Overview</p>
        <textarea pInputTextarea cols="50" rows="10" formControlName="overview"></textarea>
        <p>Poster Url</p>
        <input pInputText formControlName="posterUrl">
      </div>
      <div class="p-col-6">
        <input pButton type="submit" value="Create">
      </div>
    </div>
  </form>
</div>
<!--<p *ngFor="let control of newTvShowForm.controls">-->
<!--  <span *ngFor="let error of control.errors">{{error}}</span>-->
<!--&lt;!&ndash;  <span *ngIf="control.errors?.required && control.dirty" class="error">Title input is required!</span>&ndash;&gt;-->
<!--&lt;!&ndash;  <span *ngIf="control.errors?.minlength" class="error">Minimum length of the title&ndash;&gt;-->
<!--&lt;!&ndash;  is: {{control.errors?.minlength.requiredLength}}, actual length: {{control.errors?.minlength.actualLength}}</span>&ndash;&gt;-->
<!--</p>-->

<!--<p *ngIf="newTvShowForm.controls.title.errors?.required && newTvShowForm.controls.title.dirty" class="error">Title input is required!</p>-->
<!--<p *ngIf="newTvShowForm.controls.title.errors?.minlength" class="error">Minimum length of the title-->
<!--  is: {{newTvShowForm.controls.title.errors?.minlength.requiredLength}}, actual length: {{newTvShowForm.controls.title.errors?.minlength.actualLength}}</p>-->
